<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
    <meta name="title" content="Path to 51" />
    <meta
      name="description"
      content="Democrats need to win the senate"
    />
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="Path to 51" />
    <meta property="og:description" content="Democrats need to win the senate" />
    <title>Path to 51</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
