/* Square Map */

.SquareMapContainer {
  margin: auto;
}

.SquareMapCanvas {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Square {
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
  text-align: center;
  cursor: pointer;
}

/* Senate Race Details */

.PersonPhoto {
  width: 150px;
}
